@import url('https://fonts.googleapis.com/css2?family=Tillana&display=swap');
$color-hero-blue: #5D87E3;
$color-border-grey: rgb(221, 221, 221);
$paragraph-image-width: 64ch;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Tillana";
    text-align: center;
}

