@import "../abstracts/variables";

.hero{
    display: flex;
    flex-direction: columns;
    background-color: $color-hero-blue;
    .hero-container{
        display: flex;
        flex-direction: columns;
        justify-content: space-evenly;
        width: 130ch;
        margin-top: 3.5ch;
        margin-left: auto;
        margin-right: auto;
        .hero__image{
            height: 530px;
            margin: auto;
        }
        .hero__h1-container{
            vertical-align: center;
            margin: auto;
            margin-left: 1ch;
            .hero__h1{
                text-align: left;
                color: white;
                font-size: 2.5em;
                text-shadow: $color-font-shadow 2px 2px 0,
                $color-font-shadow -2px -2px 0,
                $color-font-shadow 2px -2px 0,
                $color-font-shadow -2px 2px 0;
            }
        }
    }
}

@media screen and (max-width: 754px) {
    .hero{
        .hero-container{
            flex-wrap: wrap;
            .hero__image{
                height: 350px;
            }
            .hero__h1-container{
                margin: auto;
                .hero__h1{
                    font-size: 1.5em;
                }
            }
        }
    }
}

/*

        .hero__h1-container{
            vertical-align: center;
            margin: auto;
            margin-left: 1ch;
            .hero__h1{
                text-align: left;
                color: white;
                font-size: 2.5em;
                text-shadow: blue 3px 3px 0,
                 blue -3px -3px 0,
                 blue 3px -3px 0,
                 blue -3px 3px 0;
            }
        }

*/
