.what-i{
    display: flex;
    flex-direction: columns;
    justify-content: space-evenly;
    max-width: 160ch;
    margin-top: 3ch;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1ch;
    *{
        width: 64ch;
    }
    .what-i__can-do{
        .what-i__h2{
            width: 44ch;
            text-align: center;
        }
        .what-i__p{
            text-align: left;
        }
    }
    .what-i__have-done{
        .what-i__h2{
            width: 44ch;
            text-align: center;
        }
        .what-i__p{
            text-align: left;
        }
    }
}

@media screen and (max-width: 1138px) {
    .what-i{
        max-width: 105ch;
        margin-top: 6ch;
        margin-bottom: 2ch;
        *{
            width: 42ch;
        }
        .what-i__can-do{
            .what-i__h2{
                width: 29ch;

            }
        }
        .what-i__have-done{
            .what-i__h2{
                width: 29ch;
            }
        }
    }
}

@media screen and (max-width: 754px) {
    .what-i{
        flex-wrap: wrap;
        .what-i__have-done{
            margin-top: 1ch;
        }
    }
}