.header{
    position: fixed; 
    top: 0;
    right: 0;
    width: 100%;
    margin-bottom: 2ch;
    background-color: white;
    .nav-bar__ul{
        display: flex;
        justify-content: end;
        list-style-type: none;
        .nav-bar__li{
            margin: 0 2ch;
        }
        .nav-bar__li:hover{
        transform: scale(1.2);
        }
    }
}