@import "../sections/hero";
@import "../sections/what-i";
@import "../sections/projects";

.tech-stack{
    background-color: $color-hero-blue;
    color: white;
    padding: 3px 4px 2px 4px;
    border-radius: 3px;
    font-size: 0.9em;
}
