@import url('https://fonts.googleapis.com/css2?family=Tillana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Merriweather:wght@900&display=swap');
$color-hero-blue: #5D87E3;
$color-border-grey: rgb(221, 221, 221);
$color-font-shadow: rgb(33, 46, 156);
$paragraph-image-width: 64ch;
$paragraph-image-width-small: 32ch;

/*
$color-font-shadow: rgb(12, 22, 109);
$color-font-shadow: rgb(60, 78, 245);
*/